#
# Stable PC1640 test profile: motherboard floppy services only.
#

CONFIG_TARGET_PC1640DD=y
CONFIG_MACHINE_NAME="FreeRos PC1640 Compatible BIOS"
CONFIG_BIOS_BRAND="FreeRos"
CONFIG_BIOS_STYLE_NAME="PC1640-Compatible System BIOS"
CONFIG_WEBSITE="www.xt-emporium.com"
CONFIG_ROS_RELEASE=0
CONFIG_ROS_ISSUE=2

CONFIG_VIDEO_80X25_COLOR=y
CONFIG_VIDEO_DIRECT_TEXT_INIT=y
CONFIG_VIDEO_USE_PC1640_SWITCH_BLOCK=y
CONFIG_VIDEO_QUERY_ROM_STATE=y
CONFIG_VIDEO_FIXUP_FROM_SWITCH_BLOCK=y
CONFIG_VIDEO_OPTION_ROM_SCAN_ENABLED=y
# CONFIG_OPTION_ROM_SCAN_ENABLED is not set

CONFIG_HAS_FLOPPY_CONTROLLER=y
CONFIG_FLOPPY_A_360K=y
CONFIG_FLOPPY_B_360K=y
CONFIG_FLOPPY_ENABLE_AH08_COMPAT=y

# CONFIG_EMS_ENABLED is not set
CONFIG_SERIAL_INT14_ENABLED=y
CONFIG_PRINTER_ENABLED=y
# CONFIG_POST_ROS_CHECKSUM_TEST_ENABLED is not set
# CONFIG_POST_VIDEO_MEMORY_TEST_ENABLED is not set
# CONFIG_POST_DMA_TEST_ENABLED is not set
# CONFIG_POST_TIMER_TEST_ENABLED is not set
# CONFIG_POST_SYSTEM_STATUS_TEST_ENABLED is not set
# CONFIG_POST_RTC_TEST_ENABLED is not set
# CONFIG_POST_SERIAL_TEST_ENABLED is not set
# CONFIG_POST_PRINTER_TEST_ENABLED is not set
# CONFIG_POST_PIC_TEST_ENABLED is not set
# CONFIG_POST_FLOPPY_TEST_ENABLED is not set
# CONFIG_POST_BASE_RAM_DETECT_ENABLED is not set
# CONFIG_POST_BASE_RAM_TEST_ENABLED is not set
# CONFIG_POST_KEYBOARD_TEST_ENABLED is not set
# CONFIG_POST_MOUSE_TEST_ENABLED is not set

# CONFIG_XTIDE_ENABLED is not set
# CONFIG_MODE_ELKS is not set
